DEVICE_MODULE_DIR=${KERNEL_DIR}
KERNEL_DIR=common

. ${ROOT_DIR}/${KERNEL_DIR}/build.config.common
. ${ROOT_DIR}/${KERNEL_DIR}/build.config.gki
. ${ROOT_DIR}/${KERNEL_DIR}/build.config.aarch64

DEFCONFIG=menuconfig_test_defconfig

# HACK: bug in bash 5.2 that if the last command of the eval in a subshell is not a built-in
#   command, the subshell exits prematurely. This is fixed in 5.2.15 but we leave
#   this hack in until bash becomes hermetic (unlikely).
#   See b/275468906#comment8
PRE_DEFCONFIG_CMDS="mkdir -p \${OUT_DIR}/arch/arm64/configs && \
    KCONFIG_CONFIG=\${OUT_DIR}/arch/arm64/configs/${DEFCONFIG} \
        ${ROOT_DIR}/${KERNEL_DIR}/scripts/kconfig/merge_config.sh -m -r \
        ${ROOT_DIR}/${KERNEL_DIR}/arch/arm64/configs/gki_defconfig \
        ${ROOT_DIR}/${DEVICE_MODULE_DIR}/defconfig.fragment && \
    true"
POST_DEFCONFIG_CMDS=""
