<a name="#${funcInfo.functionName}"></a>

#[[##]]# ${funcInfo.functionName}

<pre>
${util.funcSummary($funcInfo)}
</pre>

${funcInfo.docString}

#[[###]]## Parameters

#if (!$funcInfo.getParameterList().isEmpty())

#foreach ($param in $funcInfo.getParameterList())
#[[####]]## ${param.name} <a name="${funcInfo.functionName}-${param.name}"></a> #[[{:#]]#${funcInfo.functionName}-${param.name}#[[}]]#

#if(${param.getDefaultValue().isEmpty()}) *Required.* #else *Optional.* *Default is* `${param.getDefaultValue()}`. #end ${param.docString}

#end
#else
No attributes.

#end
