#[[#]]# `${funcInfo.functionName}`

<pre>
${util.funcSummary($funcInfo)}
</pre>

${funcInfo.docString}

#[[##]]## Parameters

#if (!$funcInfo.getParameterList().isEmpty())

#foreach ($param in $funcInfo.getParameterList())
<a name="${funcInfo.functionName}-${param.name}"/> **`${param.name}`**
#if(${param.mandatory}) *Required.* #else *Optional.* #end #if(!${param.getDefaultValue().isEmpty()}) *Default is* `${param.getDefaultValue()}`. #end ${param.docString}

#end
#else
No parameters.

#end
