CONFIG_KCSAN=y
CONFIG_KCSAN_VERBOSE=y
# CONFIG_KCSAN_KCOV_BROKEN is not set
CONFIG_KCOV=y
CONFIG_KCOV_ENABLE_COMPARISONS=y
CONFIG_PROVE_LOCKING=y
# CONFIG_KASAN is not set
# CONFIG_KASAN_STACK is not set
CONFIG_FRAME_WARN=0
# CONFIG_KASAN_HW_TAGS is not set
# CONFIG_CFI is not set
# CONFIG_CFI_PERMISSIVE is not set
# CONFIG_CFI_CLANG is not set
