# Rust Support
# Until Rust is enabled in the primary GKI builds, this fragment enables
# support for Rust and Rust drivers being tested.

CONFIG_RUST=y
CONFIG_ANDROID_BINDER_IPC_RUST=y
CONFIG_ANDROID_BINDERFS_RUST=y
